.modal-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
}

.project-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 11;
    height: 70%;
    width: 70%;
    background-color: white;
    color: black;
}