.modal-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
}

.project-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    height: 70vh;
    width: 70vw;
    background-color: var(--primary-background-color);
    color: white;
}

@media (max-width: 1700px) {
    .project-modal {
        width: 90vw;
    }
}

.exit-button {
    float: right;
    font-weight: 700;
    font-size: 2em;
}
.exit-button:hover {
    cursor: pointer;
    color: var(--secondary-color)
}

.project-modal-grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
}

@media (max-width: 1000px) {
    .project-modal-grid-container {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 60% 40%;
        width: 100%;
    }

    .project-modal-footer {
        border-top: 2px solid var(--secondary-color);
    }
}

.modal-image {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
    width: 100%;
}


.modal-content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.project-modal-footer {
    background-color: black;
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

.footer-button {
    font-size: 15px;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
}

.footer-button:hover {
    cursor: pointer;
    color: var(--secondary-color) !important;
}

.project-modal-footer ul {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    width: 100%;
}
.project-modal-footer li {
    list-style: none;
    display: inline-block;
    padding-left: 2rem;
}

.project-modal table {
    width: 100%;
    padding: 1rem;
    overflow-y: scroll;
}

.project-modal-description {
    background-color: var(--dark-section-container-color);
    color: rgb(217, 215, 215);
    padding: 1rem;
    border-radius: 10px;
}

.project-modal p {
    line-height: 25px;
}

tr.space-under>td {
    padding-bottom: 1.5em;
}

tr.space-above>td {
    padding-top: 1em;
}

.project-modal-skills {
    padding: .5rem .5rem 0 .5rem;
    font-weight: 200;
}

.tag-icon {
    padding: 0 .75rem 0 1rem;
}