.modal-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
}

.project-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    height: 70vh;
    width: 70vw;
    background-color: black;
    color: white;
}

.exit-button {
    float: right;
    font-weight: 700;
    font-size: 2em;
}
.exit-button:hover {
    cursor: pointer;
    color: var(--secondary-color)
}

.project-modal-grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
}

@media (max-width: 1000px) {
    .project-modal-grid-container {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 60% 40%;
        width: 100%;
    }
}

.modal-image {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
    width: 100%;
}


.modal-content {
    height: 100%;
    width: 100%;
}