.mobile-nav {
  height: 50px;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.button-container {
  display: flex;
  align-items: center;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  max-width: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: #444;
  color: #fff;
  text-align: center; 
  transition: opacity 0.3s ease-out, visibility 0.3s linear, height 0.3s ease-out; 
}

.links-container a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.mobile-nav.open .links-container {
  visibility: visible;
  opacity: 1;
  height: auto; 
  transition: opacity 0.3s ease-in, visibility 0s linear 0s, height 0.3s ease-in;
}

#hamburger-icon {
  height: 30px;
  width: 30px;
  float: left;
  display: block;
  padding: 0 20px;
}

.links-container a {
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px black;
}
.links-container li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-current {
  color: var(--primary-color) !important;
}