#navbar {
    background-color: transparent;
    position: fixed; 
    top: 0; 
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 10px 0px 10px 0px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.262);
  }

.navbar-scrolled {
    border-bottom: 1px solid white !important;
    background-color: #333 !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.navbar-scrolled a {
    text-shadow: none !important
}
  
/* Style the navbar links */
#navbar a {
    font-size: 15px;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px black;

}

#navbar ul {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    width: 100%;
}
#navbar li {
    list-style: none;
    display: inline-block;
}

li.current a {
    color: var(--primary-color) !important;
    border-bottom: 3px  var(--primary-color) solid;
}
