.skills-level-selected {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    max-width: 600px;
    color: white;
    height: calc(100% - (2rem + 25px));
}

.display-skills-container h3{
    color: white;
    font-weight: 400;
    margin-bottom: 2rem;
    font-size: 25px;
}

.skill {
    margin: 1rem 1rem 1rem 1rem;
}

.skill h4 {
    font-weight: 400;
}

.skill img {
    width: 70px;
    height: 70px;
}

.level-selected {
    height: 80%;
}