#about-section {
    background: var(--primary-background-color);
    --picture-size: 300px;
    color: rgb(172, 172, 172);
}

#about-section .section-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-div {
    background-image: url(../../../assets/images/portrait.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: var(--picture-size);
    width: var(--picture-size);
    border-radius: 50%;
    border: 8px solid var(--primary-color);
}

.introduction {
    margin: 5rem 0 5rem 0;
    width: 95%;
    display: flex;
    align-items: center;
}

.introduction p {
    font-weight: 500;
    line-height: 30px;
    font-size: 1.5rem;
    width: calc(100% - var(--picture-size));
    padding-left: 2rem;
    text-align: left; 
}

@media (max-width: 1200px) {
    .introduction {
        width: 100%;
        flex-direction: column;
        row-gap: 1rem;
    }

    .introduction p{
        padding-left: 0 !important;
        width: 90% !important;
        text-align: center;
        text-align-last: auto;
    }
}

@media (max-width: 300px) {
    .introduction p {
        width: calc(100% - 250px);
    }
    .picture-div {
        height: 250px;
        width: 250px;
    }
}
