#contact-section{
    background: var(--primary-background-color)
}

@media (max-width: 768px) {
    .contact-form {
        width: 90% !important;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    width: 65%;
    max-width: 750px;
    justify-content: center;
    align-items: center;
}

.contact-form input,textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Inter','Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    padding: 8px;
    font-size: 1.2rem;
    border-radius: 2px;
    border: 1px solid rgb(154, 154, 154);
    background-color: transparent;
    color: white;
    width: 100%;
}

.contact-form textarea{
    overflow: auto;
    resize: vertical;
}

.contact-form button {
    width: 14rem;
}

.contact-note {
    padding-top: 1rem;
    color: rgb(109, 109, 109);
}

.contact-note a {
    text-decoration: none;
    color: var(--primary-color)
}

.contact-transition-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1b1b1b inset !important;
  -webkit-text-fill-color: white !important;
}