.resume-card {
    width: 90%;
    display: flex;
    box-sizing: border-box;
}

.resume-part-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-right: 2em;
}

.resume-part-one h5 {
    padding-bottom: 1em;
}

.resume-card h5 {
    font-size: 1.3em;
    letter-spacing: 1px;
    color: var(--primary-background-color)
}

.resume-part-two {
    width: 70%;
    text-align: left;
    border-left: 4px solid rgb(216, 216, 216);
    padding-left: 2em;
}

.resume-part-two h6 {
    padding: .5em 0 .5em 0;
    font-size: 1em;
    font-weight: 300;
    color: rgb(150, 150, 150);
}

.resume-part-two p {
    font-weight: 400;
    color: rgb(86, 86, 86);
    line-height: 25px;
    font-size: 18px;
}

.position-div {
    padding-bottom: 1.5em;
}

@media (max-width: 768px) {
    .resume-card {
        flex-wrap: wrap;
    }
    .resume-card div {
        flex-basis: 100%;
    }
    .resume-part-one {
        padding: 0 0 2em 0;
    }
}