.section {
    color: black;
}

.content-section {
    padding: 100px 0 100px 0;
}

.centered {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.rounded-corners {
    border-radius: 25px;
}
.section-main-container {
    max-width: 1200px;
    width: 100%;
}

.button{
    background-color: var(--primary-color);
    color: white;
    transition: all .2s ease-in-out;
    padding: 1.3rem 5rem 1.3rem 5rem;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    margin-bottom: 2rem;
    margin-top: -2rem;
    text-decoration: none;
}

@media (max-width: 300px) {
    .button {
        font-size: 80%;
    }
}

.button:hover {
    background-color: rgb(72, 72, 72);
}


.white {
    background-color: white;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, .8));
}

.grey {
    background-color: var(--light-section-container-color);
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, .8));
}

.dark {
    background-color: var(--dark-section-container-color);
    filter: drop-shadow(0px 1px 3px rgba(255, 255, 255, 0.8));
}

.footer {
    height: 200px;
}

@media (max-width: 1200px) {
    .section-main-container{
        border-radius: 0;
        filter: none;
    }
    .grey {
        background-color: transparent;
    } 
    .white {
        background-color: transparent;
    } 
    .section{
        padding: 50px 0 50px 0;
    }
}
