.section {
    color: black;
}

.content-section {
    padding: 100px 0 100px 0;
}

.centered {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.section-main-container {
    max-width: 1400px;
    width: 100%;
}

.button{
    background-color: var(--primary-color);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: white;
    transition: all .2s ease-in-out;
    font-size: 18px;
    font-weight: 600;
    width: auto;
    height: 4rem;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 3rem 0 3rem;
}

@media (max-width: 300px) {
    .button {
        font-size: 80%;
    }
}

.button:hover {
    background-color: #0a7aca;
}


@media (max-width: 768px) {
    .section{
        padding: 50px 0 50px 0;
    }
}
