.section {
    color: black;
}

.content-section {
    padding: 125px 0 125px 0;
}

.centered {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

