#projects-section{
    background: var(--light-section-container-color);
}

.projects-button-transition-wrapper {
    margin-top: 1rem;
}

#projects-section p {
    margin-top: 2rem;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}

.with-logo {
    column-gap: 7px;
}


